/* Font face */
@font-face {
	font-family: 'Outfit';
	src: url('../font/Outfit-Light.ttf') format('truetype');
	src: url('../font/Outfit-Light.woff') format('woff');
	src: url('../font/Outfit-Light.woff2') format('woff2');
	font-weight: 300;
}

@font-face {
	font-family: 'Outfit';
	src: url('../font/Outfit-Regular.ttf') format('truetype');
	src: url('../font/Outfit-Regular.woff') format('woff');
	src: url('../font/Outfit-Regular.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'Outfit';
	src: url('../font/Outfit-SemiBold.ttf') format('truetype');
	src: url('../font/Outfit-SemiBold.woff') format('woff');
	src: url('../font/Outfit-SemiBold.woff2') format('woff2');
	font-weight: 600;
}