.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  top: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.flex-left {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 14px;
}

.highlight {
  color: $white;

  &:hover {
    cursor: pointer;
    color: $cyan;
  }
}
